<div class="wrapper">
    <div class="ht__bradcaump__area" data--black__overlay="6" style="background: rgba(0, 0, 0, 0) url(../../../assets/images/bg/carry.jpeg) no-repeat scroll center center / cover ;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Compostable Carry Bags</h2>
                            <nav class="bradcaump-inner">
                              <a class="breadcrumb-item" routerLink="">Home</a>
                              <span class="brd-separetor">-</span>
                              <span class="breadcrumb-item active">Carry Bags</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start Blog Area -->
    <section class="htc__project__details__page ptb--150 bg__white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-8 col-md-12 col-12">
                    <div class="htc__single__service">
                        <div class="htc__single__service__tab">
                            <div class="ht-portfolio-pic-show">
                                <div class="ht-portfolio-full-image tab-content">
                                    <div role="tabpanel" class="tab-pane fade show active" id="img-tab-1">
                                        <img src="../../../assets/images/blog/big-images/c1.jpeg" alt="full-image">
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="img-tab-2">
                                        <img src="../../../assets/images/blog/big-images/c2.jpeg" alt="full-image">
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="img-tab-3">
                                        <img src="../../../assets/images/blog/big-images/c3.jpeg" alt="full-image">
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="img-tab-4">
                                        <img src="../../../assets/images/blog/big-images/c4.jpeg" alt="full-image">
                                    </div>
                                </div>
                            </div>
                            <!-- Start Small images -->
                            <div class="ht__service__small__image nav nav-tabs clearfix">
                                <ul role="tablist" class="prodict-det-small nav  clearfix">
                                    <li role="presentation" class="pot-small-img img-tab-1">
                                        <a class="active" href="#img-tab-1" role="tab" data-toggle="tab">
                                            <img src="../../../assets/images/blog/big-images/c1.jpeg" alt="small-image">
                                        </a>
                                    </li>
                                    <li role="presentation" class="pot-small-img img-tab-2">
                                        <a href="#img-tab-2" role="tab" data-toggle="tab">
                                            <img src="../../../assets/images/blog/big-images/c2.jpeg" alt="small-image">
                                        </a>
                                    </li>
                                    <li role="presentation" class="pot-small-img img-tab-3 xmt-20">
                                        <a href="#img-tab-3" role="tab" data-toggle="tab">
                                            <img src="../../../assets/images/blog/big-images/c3.jpeg" alt="small-image">
                                        </a>
                                    </li>
                                    <li role="presentation" class="pot-small-img img-tab-4 xmt-20">
                                        <a href="#img-tab-4" role="tab" data-toggle="tab">
                                            <img src="../../../assets/images/blog/big-images/c4.jpeg" alt="small-image">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Small images --> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-12 col-12">
                    <div class="single__project__rightsidebar">
                        <!-- Start Single Item -->
                        <div class="pro__dtl__inner bg__gray">
                            <h2>PROJECT DETAILS</h2>
                            <div class="pro__dtl__content">
                                <ul class="pro__dtl__list font__bold">
                                    
                                    
                                    <li>Seal</li>
                                    <li>Color</li>
                                    <li>Capacity</li>
                                    <li>Size</li>
                                    <li>Thickness</li>
                                    <li>Pattern</li>
                                    <li>Printing</li>
                                    <li>Material</li>
                                    
                                </ul>
                                <ul class="pro__dtl__list">
                                   
                                   
                                    <li>U-CUt/ W-Cut</li>
                                    <li>Requirement Basis</li>
                                    <li>As per size</li>
                                    <li>8" to 40"</li>
                                    <li>Starts at 14 microns</li>
                                    <li>Customizable</li>
                                    <li>Customizable</li>
                                    <li>Corn Starch, PLA, PBAT</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Start Single Item -->
                       
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="htc__pro__desc__container">
                        <!-- start Single Details -->
                        <div class="single__project__details">
                            <h2>About</h2>
                            <p>Eco-branch carry bags , tshirt bags are high quality compostable and biodegradable bags. Eco branch is leading manufacturer and exporter of compostable carry bags in India . At Ecobranch we manufacture our brand with 100% compostable raw material. Our compostable carry bags are a budget and eco-friendly alternative to conventional polythene carry bags for industrial and domestic use. 
</p>
<ul class="facts__list">
                                <li><a href="#"><i class="fa fa-angle-double-right"></i><b>Packaging:</b> Cartoon box packaging is available but can be customised as per the requirement </a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i><b>Delivery:</b> 25-30 days after the order is confirmed</a></li>
                                
                                  
                                  </ul>
                        </div>
                        <!-- End Single Details -->
                        <!-- start Single Details -->
                        <div class="single__project__details">
                            <h2>Description</h2>
                             <p>Our carry bags are aviable in 100% customizable basis - size, colour, print & thickness.</p>
                            <p>Being 100% customizable our carry bags can be used in various industries like :</p>
                             <ul class="facts__list">
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Retail</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>HORECA</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Healthcare</a></li>
                                 <li><a href="#"><i class="fa fa-angle-double-right"></i>Institutional Cafeterias</a></li>
                                  <li><a href="#"><i class="fa fa-angle-double-right"></i>Municipal Corporation</a></li>
                                  <li><a href="#"><i class="fa fa-angle-double-right"></i>Residential and Office Spaces</a></li>
                                  <li><a href="#"><i class="fa fa-angle-double-right"></i>Event Management</a></li>
                                  
                                  </ul>
                        </div>
                        <!-- End Single Details -->
                        <!-- start Single Details -->
                        <div class="single__project__details">
                            <h2>IMPORTANT FACTS</h2>
                            
                            <ul class="facts__list">
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Adherence to regional law and compliance certifications</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Tear resistance and protection against leakage</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Available in roll form and individual bags</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Strong and elastic</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Breathability</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Available in a wide selection of designs</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Durable, longer life</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Product inputs free of GMO material</a></li>
                            </ul>
                        </div>
                        <!-- End Single Details -->
                    </div>
                </div>
            </div>
        </div>
        <br> <br> <br>
        
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="brand__list">
                        <li><a href="#"><img src="../../../assets/images/brand/11.jpeg" alt="brand images"></a></li>
                        <li><a href="#"><img src="../../../assets/images/brand/12.jpeg" alt="brand images"></a></li>
                        <li><a href="#"><img src="../../../assets/images/brand/13.jpeg" alt="brand images"></a></li>
                        <li><a href="#"><img src="../../../assets/images/brand/14.jpeg" alt="brand images"></a></li>
                        <li><a href="#"><img src="../../../assets/images/brand/15.jpeg" alt="brand images"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    
    
    </section>
    
</div>