<div class="wrapper">
    <!-- Start Header Style -->
    <div class="ht__bradcaump__area" data--black__overlay="6"
        style="background: rgba(0, 0, 0, 0) url(../../../assets/images/bg/carry.jpeg) no-repeat scroll center center / cover ;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">About Us</h2>
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" routerLink="">Home</a>
                                <span class="brd-separetor">-</span>
                                <span class="breadcrumb-item active">About Us</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutus_banner">
        <section class="container htc__aboutus__area service--2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 service__section__wrap clearfix">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 h1__service pt--40 pb--30">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="section__title text-left">
                                            <div class="aboutus_background"></div>
                                            <div class="aboutus">
                                                <h2 class="title__line">About <span style="color:#59b232">Us</span>
                                                </h2>
                                                <p>Eco-Branch is an exporter with supplying in products established
                                                    value-driven enterprise founded by SB Global Pvt. Ltd.
                                                    <br> to save nature and make our mother earth plastic free and build
                                                    a toxic-free environment.
                                                    <br> SB Global Group was established decades ago with a vision of
                                                    expanding its wings in various market and deliver the best services
                                                    across all.
                                                    <br>We are self-motivated, enthusiastic and truly committed towards
                                                    the accomplishment of overall organizational goals.
                                                    <br>SB Global group has a renowned name in the Indian market as the
                                                    leading manufacturers and suppliers.
                                                    <br>We manufacture100% biodegradable and compostable plastic
                                                    products like carry bags, shopping bags, grocery bags, garbage bags
                                                    etc.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Single Service -->
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 img-center">
                                <img height="308" width="533" class="img-responsive img-fluid"
                                    src="../../../assets/images/home_tab/png-clipart-compost-food-waste-organic-food-life-cycle-assessment-soil-survey-food-leaf-thumbnail-removebg-preview.png"
                                    alt="about image">
                            </div>
                            <!-- End Single Service -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 service__section__wrap clearfix">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 h1__service pt--40 pb--30">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="section__title text-left">
                                            <div class="aboutus_background"></div>
                                            <div class="aboutus">
                                                <h2 class="title__line">About <span
                                                        style="color:#59b232">ECO-BRANCH</span>
                                                </h2>
                                                <p>
                                                    Plastic can release harmful chemicals into the surrounding soil,
                                                    which can then seep into groundwater or other surrounding water
                                                    sources, and also the ecosystem.
                                                    <br>This can cause a range of potentially harmful effects on the
                                                    species that drink the water.
                                                    <br>
                                                    Eco-Branch understand and try to deal with this problem by
                                                    manufacturing 100 % compostable product. Eco-Branch is the leading
                                                    manufacturer and exporter of world class compostable products.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Single Service -->
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 img-center">
                                <img height="308" width="533" class="img-responsive img-fluid"
                                    src="../../../assets/images/home_tab/istockphoto-843358350-612x612-removebg-preview.png"
                                    alt="about image">
                            </div>
                            <!-- End Single Service -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="htc__bst__btn text-center mt--30 aboutus_contactbtn">
                <a class="htc__btn_contact" routerLink="/contactus">CONTACT NOW</a>
            </div>
        </section>
    </div>

    <section class="we-are-one">
        <div class="row about_us_tab">
            <div id="mobile-img-be-second" class="col-6">
                <h2 class="text-white">Who we are</h2>
                <p class="para text-white">Eco-Branch is an exporter with supplying In products established value-driven enterprise founded by SB Global Pvt. Ltd. 
                    to save nature and make our mother earth plastic free and build a toxic-free environment.
                    Eco-Branch deliver its products with one aim that is to make our planet green and our environment friendly. 
                    We manufacture 100 % compostable products with certificates from the authorised laboratories and apex bodies of the Indian Government. 
                    Eco-Branch focused on producing the high-quality products for our clients we manufacture compostable and 
                    biodegradable products according to our client needs and deliver them to all over the world.
                    Our range of product helps to make every minute a best part and environment friendly in all hearts.
                    </p>
            </div>
            <div id="mobile-img-be" class="col-6"><img class="img-fluid"
                    src="https://i1.wp.com/www.naturtrust.com/wp-content/uploads/2020/12/Who_we_are.png?w=580"
                    data-recalc-dims="1"></div>
        </div>
        <div class="row about_us_tab">
            <div class="col-6" id="mobile-img-be"><img class="img-fluid"
                    src="https://i0.wp.com/www.naturtrust.com/wp-content/uploads/2020/12/Why-we-exist-1.png?w=580"
                    data-recalc-dims="1"></div>
            <div class="col-6">
                <h2 class="text-white">Why we exist</h2>
                <p class="para text-white">Eco-Branch pledge to make our environment plastic free environment. 
                    As biodegradable products break down naturally, they eventually decompose and are consumed by soil and other natural components. 
                    This natural process means no forced chemical reaction needs to take place to kick-start the process and less pollution will happen as a result.
                    At Eco-Branch we produce products that are fully compostable and biodegradable. 
                    Eco-Branch deliver its products with one aim that is to make our planet green and our environment friendly. 
                    Our range of product helps to make every minute a best part and environment friendly in all hearts.
                    </p>
            </div>
        </div>
        <div class="row about_us_tab">
            <div class="col-6">
                <h2 class="text-white">Values and Commitments</h2>
                <p class="para text-white">We want to offer consumers and professional users hygiene and comfort. 
                    And we want to raise awareness on smartly source separating different waste streams, and on keeping organic waste free of traditional plastics. 
                    That way, organic waste can be recycled into high-grade compost, a perfect soil amendment for agriculture and horticulture. 
                    Most importantly, that is done without polluting the soil with micro plastics.
                    Our Company provides bags to consumers and professional users who are looking for ecological alternatives to traditional plastic products. 
                    Our products are fully compostable and biodegradable, and made from natural, renewable resources.
                    </p>
            </div>
            <div class="col-6" id="mobile-img-be"><img class="img-fluid"
                    src="https://i1.wp.com/www.naturtrust.com/wp-content/uploads/2020/12/Living-Our-Values-Everyday_485x234.jpg?w=580"
                    data-recalc-dims="1"></div>
        </div>
    </section>


    <!-- Start Offer Area -->
    <!-- <section class="htc__mission__area bg__gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-xl-5 col-md-7 col-12">
                    <div class="htc__mission__container">
                        <div class="single__mission">
                            <h2>WHY WE EXIST</h2>
                            <p>With rising plastic pollution over the past few decades, Ecobranch commits to sustainable
                                and plastic free environment. We at echo branch produce products that are fully
                                compostable and biodegradable. Ecobranch pledge towards making sustainability
                                the way of life. Ecobranch deliver its products with one aim that is to make our planet
                                green and our environment friendly.</p>
                        </div>
                        <div class="single__mission">
                            <h2>OUR VALUES</h2>
                            <p>We at eco branch believes in a greener future and takes full responsibility in achieving
                                this goal . Our team is fully motivated towards this goal and by serving our clients all
                                over the world we have come a
                                long way in developing a diverse work culture which promotes the betterment of our
                                company.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="htc__offer__thumb">
            <div class="htc__offer__thumb__inner">
                <img src=".../../../../../assets/images/bg/gbag1.jpeg" alt="offer img">
            </div>
        </div>
    </section> -->
    <!-- End Offer Area -->
    <!-- Start Offer Area -->
    <!-- <section class="htc__offer__area ptb--150 bg__white">
        <div class="row">
            <div class="col-12">
                <div class="section__title text-center">
                    <h2 class="title__line">WHY <span class="text--theme">US</span></h2>
                    <br> <br><br>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xl-4 col-md-6 col-12">
                    <div class="offer">
                        <div class="offer__icon">
                            <img src=".../../../../../assets/images/others/icon-2/icon2 (1).png" alt="icon images">
                        </div>
                        <div class="offer__details">
                            <h2><a href="#">TOP RATED</a></h2>
                            <p>All our products are certified and best rated, assuring best range of products.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6 col-12 xmt-40">
                    <div class="offer separator">
                        <div class="offer__icon">
                            <img src=".../../../../../assets/images/others/icon-2/icon2 (2).png" alt="icon images">
                        </div>
                        <div class="offer__details">
                            <h2><a href="#">BEST QUALITY</a></h2>
                            <p>We assure the delivery of best products with each unit tested for quality.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6 col-12 smt-40 xmt-40">
                    <div class="offer separator">
                        <div class="offer__icon">
                            <img src=".../../../../../assets/images/others/icon-2/icon2 (3).png" alt="icon images">
                        </div>
                        <div class="offer__details">
                            <h2><a href="#">LOW COST</a></h2>
                            <p>We offer the best price for the quality of products we deliver.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Offer Area -->
    <!-- Start Team Area -->

    <!-- End Testimonial Area -->
    <!-- Start Counter Up Area -->
    <section class="htc__counterup__area ptb--50"
        style="background-color: #59b232;
        border: solid 60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="htc__counterup__wrap">
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__details">
                                <div class="funfact__count__inner">
                                    <div class="fact__count ">
                                        <span class="count">300</span>
                                    </div>
                                </div>
                                <div class="fact__title">
                                    <h2>CLIENTS</h2>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__details">
                                <div class="funfact__count__inner">
                                    <div class="fact__count ">
                                        <span class="count">5</span>
                                    </div>
                                </div>
                                <div class="fact__title">
                                    <h2>COUNTRIES</h2>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__details">
                                <div class="funfact__count__inner">
                                    <div class="fact__count ">
                                        <span class="count">1500</span>
                                    </div>
                                </div>
                                <div class="fact__title">
                                    <h2>SHIPMENTS</h2>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__details">
                                <div class="funfact__count__inner">
                                    <div class="fact__count ">
                                        <span class="count">7</span>
                                    </div>
                                </div>
                                <div class="fact__title">
                                    <h2>CERTIFICATIONS</h2>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Counter Up Area -->
    <!-- Start Brand Area -->
    <div class="htc__brand__area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="brand__list">
                        <li><a href="#"><img src=".../../../../../assets/images/brand/11.jpeg" alt="brand images"></a>
                        </li>
                        <li><a href="#"><img src=".../../../../../assets/images/brand/12.jpeg" alt="brand images"></a>
                        </li>
                        <li><a href="#"><img src=".../../../../../assets/images/brand/13.jpeg" alt="brand images"></a>
                        </li>
                        <li><a href="#"><img src=".../../../../../assets/images/brand/14.jpeg" alt="brand images"></a>
                        </li>
                        <li><a href="#"><img src=".../../../../../assets/images/brand/15.jpeg" alt="brand images"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand Area -->


</div>