<div class="htc__contact__address add-res bg__cat--1">
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="htc__contact__wrap clearfix">
                    <div class="ht__address__inner">
                        <div class="ht__address__icon map-pin">
                            <i class="zmdi zmdi-pin"></i>
                        </div>
                        <div class="ht__address__details">
                            <p>11/5/2, Near Bajaj Motors Ltd. <br>Narsingpur, Gurgaon, Haryana</p>
                        </div>
                    </div>
                    <div class="ht__address__inner">
                        <div class="ht__address__icon glob">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                        <div class="ht__address__details">
                            <p><a href="#">info@theecobranch.com</a></p>
                            <p><a href="#">enquiry@sbglobalservices.com</a></p>
                            
                        </div>
                    </div>
                    <div class="ht__address__inner">
                        <div class="ht__address__icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="ht__address__details">
                            <p><a href="tel:+919650408702">(+91) 9650408702</a></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<!-- Footer -->
<footer class="text-center text-lg-start">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase  mb-4">
              <i class="fas fa-gem me-3"></i>The Eco Branch
            </h6>
            <p style="color: white;">
                Eco-Branch is an exporter with supplying in products established value-driven 
                enterprise founded by SB Global Pvt. Ltd. 
                to save nature and make our mother earth plastic free and build a toxic-free environment
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase  mb-4">
              Products
            </h6>
            <p>
              <a routerLink="/products/poopbags" class="text-reset">Poop Bags</a>
            </p>
            <p>
              <a routerLink="/products/garbagebags" class="text-reset">Garbage Bags</a>
            </p>
            <p>
              <a routerLink="/products/carrybags" class="text-reset">Carry Bags</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase mb-4">
              Useful links
            </h6>
            <p>
              <a routerLink="/" class="text-reset">Home</a>
            </p>
            <p>
              <a routerLink="/contactus" class="text-reset">Contact Us</a>
            </p>
            <p>
              <a routerLink="/aboutus" class="text-reset">About</a>
            </p>
            <p>
              <a routerLink="/products" class="text-reset">Products</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase mb-4">Contact</h6>
            <p style="color: white;"><i class="fas fa-home me-3"></i> 11/5/2, Near Bajaj Motors Ltd. <br>Narsingpur, Gurgaon, Haryana</p>
            <p style="color: white;">
              <i class="fas fa-envelope me-3"></i>&nbsp;
              <a href="#">info@theecobranch.com</a>
            </p>
            <p style="color: white;">
                <i class="fas fa-envelope me-3"></i>&nbsp;
                <a href="#">enquiry@sbglobalservices.com</a>
            </p>
            <p style="color: white;"><i class="fas fa-phone me-3"></i>&nbsp; <a href="tel:+919650408702">(+91) 9650408702</a></p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->
</div>

  <div class="copyright bg__theme">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="copyright__inner">
                    <p>Copyright <span >EcoBranch | SB Global Pvt. Ltd.</span>
                        All Rights Reserved 2022</p>
                </div>
            </div>
        </div>
    </div>
</div>