<div id="header" class="htc-header">
    <!-- Start Header Top -->
    <div class="htc__header__top bg__cat--1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="heaher__top__left">
                        <li><a href="mailto:info@theecobranch.com"><i class="fa fa-envelope"></i>info@theecobranch.com</a></li>
                        <li><a href="tel:+919650408702"><i class="fa fa-phone"></i>(+91)  9650408702</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="header__top__right">
                       <!-- <ul class="login-register">
                            <li><a href="login-register.html">LOGIN</a></li>
                            <li class="separator">/</li>
                            <li><a href="login-register.html">REGISTER</a></li>
                        </ul>-->
                        <div class="heaher__top__btn">
                            <a routerLink="contactus">Contact Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-7">
                    <div class="logo">
                        <a routerLink="">
                            <img src="../../../assets/images/logo/ecologo.png" alt="logo image">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-5 d-lg-block d-none">
                    <nav class="main__menu__nav d-lg-block d-md-none d-none">
                        <ul class="main__menu">
                            <li class="drop"><a routerLink="">HOME</a>
                               <!-- <ul class="dropdown">
                                    <li><a href="index.html">Home 01</a></li>
                                    <li><a href="index-2.html">Home 02</a></li>
                                    <li><a href="index-3.html">Home 03</a></li>
                                </ul>-->
                            </li>
                            
                            <li class="drop"><a routerLink="aboutus">About Us </a></li>
                           <!-- <li class="drop"><a href="#">pages</a>
                                <ul class="dropdown">
                                    <li><a href="service.html">service</a></li>
                                    <li><a href="single-service.html">Single service</a></li>
                                    <li><a href="projects-one.html">projects one</a></li>
                                    <li><a href="projects-two.html">projects two</a></li>
                                    <li><a href="projects-three.html">projects three</a></li>
                                    <li><a href="single-project.html">Single Project</a></li>
                                    <li><a href="blog.html">BLog</a></li>
                                    <li><a href="blog-one-column.html">blog one column</a></li>
                                    <li><a href="blog-two-column.html">blog two column</a></li>
                                    <li><a href="blog-details.html">blog Details</a></li>
                                    <li><a href="login-register.html">Log in & Register</a></li>
                                </ul>
                            </li>-->
                            <li class="drop"><a routerLink="products">PRODUCTS</a>
                                <ul class="dropdown">
                                    <li><a routerLink="products/carrybags">Carry Bags</a></li>
                                    <li><a routerLink="products/garbagebags">Garbage Bags</a></li>
                                    <li><a routerLink="products/poopbags">Poop Bags</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="sustainability">Sustainability</a></li>
                            <li><a routerLink="certificates">certificates</a></li>
                            <li><a routerLink="catalogue" target= "blank">Catalogue</a></li>
                            <li><a routerLink="contactus">CONTACT</a></li>
                        </ul>
                    </nav>
                    <div class="mobile-menu clearfix d-lg-none d-md-block d-block">
                        <nav id="mobile_dropdown">
                            <ul>
                                <li><a routerLink="">Home</a>
                                   <!-- <ul>
                                        <li><a href="index.html">Home 01</a></li>
                                        <li><a href="index-2.html">Home 02</a></li>
                                        <li><a href="index-3.html">Home 03</a></li>
                                    </ul>-->
                                </li>
                               <li class="drop"><a routerLink="/aboutus">About Us </a></li>
                                <li><a routerLink="products">PRODUCTS</a>
                                    <ul>
                                        <li><a routerLink="products/carrybags">Carry Bags</a></li>
                                        <li><a routerLink="products/garbagebags">Garbage Bags</a></li>
                                        <li><a routerLink="products/poopbags">Poop Bags</a></li>
                                    </ul>
                                </li>
                                <!--<li><a href="#">pages</a>
                                    <ul>
                                        <li><a href="service.html">service</a></li>
                                        <li><a href="single-service.html">Single service</a></li>
                                        <li><a href="projects-one.html">projects one</a></li>
                                        <li><a href="projects-two.html">projects two</a></li>
                                        <li><a href="projects-three.html">projects three</a></li>
                                        <li><a href="single-project.html">Single Project</a></li>
                                        <li><a href="blog.html">BLog</a></li>
                                        <li><a href="blog-one-column.html">blog one column</a></li>
                                        <li><a href="blog-two-column.html">blog two column</a></li>
                                        <li><a href="blog-details.html">blog Details</a></li>
                                        <li><a href="login-register.html">Log in & Register</a></li>
                                    </ul>
                                </li> -->
                                <li><a routerLink="sustainability">Sustainability</a></li>
                            <li><a routerLink="certificates">certificates</a></li>

                                <li><a href="ecobranch catalogue.pdf" target= "blank">Catalogue</a></li>
                                <li><a routerLink="contactus">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div> 
                </div>
               <!--<div class="col-lg-2 col-md-6 d-lg-block d-md-block d-none">
                    <div class="htc__header__search">
                        <input type="text" placeholder="SEARCH">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>-->
            </div>
            <div class="mobile-menu-area"></div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
</div>
<!-- End Header Style -->