<div class="wrapper">

    <!-- Start Slider Area -->
    <div class="slider" id="slider" data-width="100">
        <button class="control_next">&rarr;</button>
        <button class="control_prev">&larr;</button>
        <ul>
            <li class="actslide">
                <div class="slide slider__fixed--height slide__align--center"
                    style="background: rgba(0, 0, 0, 0) url(../../../assets/images/slider/bg/eco.jpeg) no-repeat scroll 0 0 / cover;"
                    data--black__overlay="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="slider__inner">
                                    <h4>Compostable Certified Bags</h4>
                                    <h1>by EcoBranch</h1>
                                    <p>

                                        EcoBranch is helping to do better our carbon footprint,

                                        by providing 100% compostable bags.</p>

                                    <div class="slider__btn">
                                        <a class="htc__btn" routerLink="contactus">CONTACT US</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="htc__slider__fornt__img">
                        <img width="100%" src="../../../assets/images/slider/fornt-img/img1.png" alt="slider images">
                    </div> -->
                </div>
            </li>
            <li>
                <div class="slide slider__fixed--height slide__align--center"
                    style="background: rgba(0, 0, 0, 0) url(../../../assets/images/slider/bg/gbag.jpeg) no-repeat scroll 0 0 / cover;"
                    data--black__overlay="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="slider__inner">
                                    <h4>Garbage | Carry | Poop</h4>
                                    <h1>Compostable Bags</h1>
                                    <p>We care about environment. Hence providing wide range of compostable products.
                                    </p>
                                    <div class="slider__btn">
                                        <a class="htc__btn" routerLink="contactus">CONTACT US</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="htc__slider__fornt__img">
                        <img width="100%"  src="../../../assets/images/slider/fornt-img/img1.png" alt="slider images">
                    </div> -->
                </div>
            </li>
            <li>
                <div class="slide slider__fixed--height slide__align--center"
                    style="background: rgba(0, 0, 0, 0) url(../../../assets/images/slider/bg/gbag.jpeg) no-repeat scroll 0 0 / cover;"
                    data--black__overlay="6">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="slider__inner">
                                    <h4>Garbage | Carry | Poop</h4>
                                    <h1>Compostable Bags</h1>
                                    <p>We care about environment. Hence providing wide range of compostable products.
                                    </p>
                                    <div class="slider__btn">
                                        <a class="htc__btn" routerLink="contactus">CONTACT US</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="htc__slider__fornt__img">
                        <img width="100%"  src="../../../assets/images/slider/fornt-img/img1.png" alt="slider images">
                    </div> -->
                </div>
            </li>
        </ul>
        <!-- <div class="progress">
            <div class="bar"></div>
        </div> -->

    </div>
    <app-section1></app-section1>
    <!-- Start Slider Area -->
    <!-- Start Offer Area -->
    <section class="htc__offer__area htc__offer--2 pb--120 bg__gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="offer">
                        <div class="offer__icon">
                            <img src="../../../assets/images/others/icon-2/icon2 (1).png" alt="icon images">
                        </div>
                        <div class="offer__details">
                            <h2><a>TOP RATED</a></h2>
                            <p>All our products are certified and best rated, assuring best range of products.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 xmt-40">
                    <div class="offer separator">
                        <div class="offer__icon">
                            <img src="../../../assets/images/others/icon-2/icon2 (2).png" alt="icon images">
                        </div>
                        <div class="offer__details">
                            <h2><a>BEST QUALITY</a></h2>
                            <p>We assure the delivery of best products with each unit tested for quality.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 smt-40 xmt-40">
                    <div class="offer separator">
                        <div class="offer__icon">
                            <img src="../../../assets/images/others/icon-2/icon2 (3).png" alt="icon images">
                        </div>
                        <div class="offer__details">
                            <h2><a>LOW COST</a></h2>
                            <p>We offer the best price for the quality of products we deliver. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h1__offer__image">
            <!-- <img src="../../../assets/images/others/6.png" alt="">-->
        </div>
    </section>
    <!-- End Offer Area -->
    <!-- Start About Area -->
    <section class="htc__about__area about--2 text__pos ptb--150 bg__white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">ABOUT <span style="color:#59b232">Company</span></h2>
                        <p>
                            EcoBranch is leading exporter, manufacturer,producer and supplier of compostable bags in
                            india. We provide best quality products all over the world.
                            <br>EcoBranch is a newly established value-driven enterprise founded by SB Global Pvt. Ltd.
                            to save nature and make our mother earth plastic
                            free and build a toxic-free environment. We provide our customers 100% Compostable &
                            Biodegradable Bags.
                            With a vision to improve the sustainability and anticipating market trends and future
                            environmental regulations,
                            EcoBranch is a manufacturer of new range of renewable and compostable bags.


                    </div>
                </div>
                <div class="row mt--70">
                    <div class="col-lg-4 col-xl-3 offset-xl-1 col-md-6 col-12">
                        <div class="about foo">
                            <div class="about__inner">
                                <h2><a>Sustainable</a></h2>
                                <p> Over the past few decades, plastic pollution has been on the rise. At EcoBranc, we
                                    commit to sustainability, to a greener planet, to a cleaner environment. We pledge
                                    towards making sustainability a way of life. </p>
                                <div class="about__btn">
                                    <!--  <a href="about.html">READ MORE</a>-->
                                </div>
                                <div class="about__icon">
                                    <img src="../../../assets/images/others/icon/icon (1).png" alt="icon images">
                                </div>
                            </div>
                            <div class="about__inner about__hober__info">
                                <h2><a>Sustainable</a></h2>
                                <p> Over the past few decades, plastic pollution has been on the rise. At EcoBranc, we
                                    commit to sustainability, to a greener planet, to a cleaner environment. We pledge
                                    towards making sustainability a way of life. </p>
                                <div class="about__btn">
                                    <!-- <a href="about.html">READ MORE</a>-->
                                </div>
                                <div class="about__icon">
                                    <img src="../../../assets/images/others/icon/icon (2).png" alt="icon images">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-12">
                        <div class="about foo">
                            <div class="about__inner">
                                <h2><a>Eco-Friendly</a></h2>
                                <p>Our compostable bags helps make every daily chore, every major milestone, become
                                    environment-friendly. The most eco-friendly bio green bags which will be decomposed
                                    in 180 days.</p>
                                <div class="about__btn">

                                </div>
                                <div class="about__icon">
                                    <img src="../../../assets/images/others/icon/icon (1).png" alt="icon images">
                                </div>
                            </div>
                            <div class="about__inner about__hober__info">
                                <h2><a>Eco-Friendly</a></h2>
                                <p>Our compostable bags helps make every daily chore, every major milestone, become
                                    environment-friendly. The most eco-friendly bio green bags which will be decomposed
                                    in 180 days.</p>
                                <div class="about__btn">

                                </div>
                                <div class="about__icon">
                                    <img src="../../../assets/images/others/icon/icon (2).png" alt="icon images">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-12 smt-40">
                        <div class="about foo">
                            <div class="about__inner">
                                <h2><a>Cost-Effective</a></h2>
                                <p>We at EcoBranc always strive to make our compostable bags as cost effective as
                                    possible for our customers. Compostable bags are also a cheaper alternaitves to
                                    plastic bags.</p>
                                <div class="about__btn">
                                    <!--<a href="about.html">READ MORE</a>-->
                                </div>
                                <div class="about__icon">
                                    <img src="../../../assets/images/others/icon/icon (3).png" alt="icon images">
                                </div>
                            </div>
                            <div class="about__inner about__hober__info">
                                <h2><a>Cost-Effective</a></h2>
                                <p>We at EcoBranc always strive to make our compostable bags as cost effective as
                                    possible for our customers. Compostable bags are also a cheaper alternaitves to
                                    plastic bags.</p>
                                <div class="about__btn">
                                    <!--<a href="about.html">READ MORE</a>-->
                                </div>
                                <div class="about__icon">
                                    <img src="../../../assets/images/others/icon/icon (3).png" alt="icon images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text__shape">
                <h2>ECO</h2>
            </div>
        </div>
    </section>
    <!-- End About Area -->
    <!-- start About Area -->
    <section class="htc__service__area service--2 bg__gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 service__section__wrap clearfix">
                    <div class="row">
                        <!-- Start Single Service -->
                        <div class="col-lg-5 col-xl-4 col-md-12 col-12">
                            <div class="service__thumb">
                                <img src="../../../assets/images/about/bags.jpeg" alt="about image">
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <div class="col-lg-7 col-xl-8 col-md-12 col-12 h1__service pt--40 pb--30">
                            <div class="row">
                                <div class="col-12">
                                    <div class="section__title text-left">
                                        <h2 class="title__line">OUR <span style="color:#59b232">SERVICES</span></h2>
                                        <p>EcoBranch manufactres the best quality products for our clients. Meeting our
                                            sustainability goals we also recycle the pre-used bags to manufacture the
                                            new ones, keeping in mind the vision to reduce the carbon footprint. Adding
                                            the cherry on the top, we do white labeling for your organization on our
                                            products.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Start Single Service -->
                                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 col-12">
                                    <div class="service">
                                        <div class="service__thumb">
                                            <a>
                                                <img src="../../../assets/images/service/m.jpeg" alt="service images">
                                            </a>

                                        </div>
                                        <div class="service__details">
                                            <h2><a>MANUFACTURING</a></h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Service -->
                                <!-- Start Single Service -->
                                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 col-12">
                                    <div class="service">
                                        <div class="service__thumb">
                                            <a>
                                                <img src="../../../assets/images/service/recycle.jpg"
                                                    alt="service images">
                                            </a>

                                        </div>
                                        <div class="service__details">
                                            <h2><a>RECYCLING</a></h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Service -->
                                <!-- Start Single Service -->
                                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 col-12">
                                    <div class="service">
                                        <div class="service__thumb">
                                            <a>
                                                <img src="../../../assets/images/service/b.jpeg" alt="service images">
                                            </a>

                                        </div>
                                        <div class="service__details">
                                            <h2><a>BRANDING</a></h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Service -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->
    <section class="htc__reasons ptb--130">
        <div>
            <div class="section__title text-center">
                <h1>5 reasons to choose biodigradable products for our future generations.</h1>
            </div>
            <div class="slider" id="slider2" data-width="100" style="border-radius: 500px;">
                <!-- <button class="control_next">&rarr;</button>
                <button class="control_prev">&larr;</button> -->
                <ul>
                    <li class="actslide">
                        <div class="slide slider__fixed--height slide__align--center">
                            <div class="shadow">
                                <div class="">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 service__section__wrap clearfix">
                                                <div class="row">
                                                    <div
                                                        class="col-lg-6 col-xl-6 col-md-6 col-6 h1__service pt--40 pb--30">
                                                        <div class="section__title reason_text text-left">
                                                            <p>Biodegradable products and biodegradable bags take musch
                                                                less time to break down
                                                                after being discarded, if they haven't been recycled, of
                                                                course.</p>
                                                        </div>
                                                    </div>
                                                    <!-- Start Single Service -->
                                                    <div class="col-lg-6 col-xl-6 col-md-6 col-6 img-center">
                                                        <img height="308" width="533" class="img-responsive img-fluid"
                                                            src="../../../assets/images/home_tab/theecobranch-banners_900x550-retail.png"
                                                            alt="about image">
                                                    </div>
                                                    <!-- End Single Service -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="actslide">
                        <div class="slide slider__fixed--height slide__align--center">
                            <div class="shadow">
                                <div class="">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 service__section__wrap clearfix">
                                                <div class="row">
                                                    <div
                                                        class="col-lg-6 col-xl-6 col-md-6 col-6 h1__service pt--40 pb--30">
                                                        <div class="section__title reason_text text-left">
                                                            <p>Biodegradable plastics are made from biomass,
                                                                which is a completely renewable resource.</p>
                                                        </div>
                                                    </div>
                                                    <!-- Start Single Service -->
                                                    <div class="col-lg-6 col-xl-6 col-md-6 col-6 img-center">
                                                        <img height="308" width="533" class="img-responsive img-fluid"
                                                            src="../../../assets/images/home_tab/theecobranch-banners_900x550-retail.png"
                                                            alt="about image">
                                                    </div>
                                                    <!-- End Single Service -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- </div>
        </div> -->
    </section>

    <!-- Sustainability Start -->
    <section >
        <div class="sustainability">
            <div class="container">
                <div class="row sus-header">
                    <div class="col-md-6 col-sm-12 col-xs-12 sustainable">
                        <h2>Sustainability</h2>
                        <p class="para">Sustainability consists of fulfilling the needs of current generations without compromising the needs of future generations, 
                            while ensuring a balance between economic growth, environmental care and social well-being. 
                            It is the ability to exist and develop without depleting natural resources for the future.
                            </p>
                        <p class="para-read"><a routerLink="sustainability">Read More</a></p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 text-center"><img loading="lazy"
                            class="img-fluid stanble alignnone"
                            src="../../../assets/images/home_tab/sustainability.jpg"
                            alt="eco friendly biodegradable bags" width="340" height="450" data-recalc-dims="1"></div>
                    <!-- <p><img class="leaf-green-right"
                            src="https://i2.wp.com/www.naturtrust.com/wp-content/themes/twentytwenty-child/assets1/images/leaf-green-right.png?w=580&amp;ssl=1"
                            alt="leaf-blue-right.png" data-recalc-dims="1"></p> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Sustainability End -->
    <!-- Start Blog Area -->
    <section class="htc__latest__project__area ptb--150 bg__white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">Our<span style="color:#59b232">Products</span></h2>

                    </div>
                </div>
            </div>
            <div class="row htc__blog__wrap mt--30 clearfix">
                <!-- Start Single Blog -->
                <div class="col-lg-4 col-xl-4 col-md-6 col-12">
                    <div class="blog foo">
                        <div class="blog__thumb">
                            <a routerLink="/products/carrybags">
                                <img src="../../../assets/images/blog/blog-img/cbag.jpeg" alt="blog image">
                            </a>
                            <div class="blog__hover__info">
                                <ul class="blog__meta">
                                    <li><a routerLink="/products/carrybags">Carry Bags</a></li>

                                    <!-- <li><a >6 Variations</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details">
                            <!--   <h2><a href="blog-details.html">Non-woven and Woven Reusable, T-sack bag, Sonic weld box bag and 3 others

</a></h2> -->

                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
                <!-- Start Single Blog -->
                <div class="col-lg-4 col-xl-4 col-md-6 col-12">
                    <div class="blog foo">
                        <div class="blog__thumb">
                            <a routerLink="/products/garbagebags">
                                <img src="../../../assets/images/blog/blog-img/gbag.jpeg" alt="blog image">
                            </a>
                            <div class="blog__hover__info">
                                <ul class="blog__meta">
                                    <li><a routerLink="/products/garbagebags">Garbage Bags</a></li>

                                    <!-- <li><a >5 Sizes</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details">
                            <!--   <h2><a href="blog-details.html">Sizes in 10', 12', 14', 16', 18'(inches)</a></h2> -->

                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
                <!-- Start Single Blog -->
                <div class="col-lg-4 col-xl-4 col-md-6 col-12">
                    <div class="blog foo">
                        <div class="blog__thumb">
                            <a routerLink="/products/poopbags">
                                <img src="../../../assets/images/blog/blog-img/pbag.jpeg" alt="blog image">
                            </a>
                            <div class="blog__hover__info">
                                <ul class="blog__meta">
                                    <li><a routerLink="/products/poopbags">Poop Bags</a></li>

                                    <!--  <li><a >6 Sizes</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details">
                            <!--   <h2><a href="blog-details.html">Sizes in  6', 8', 9', 10', 11', 12'(inches). Available in both coated and uncoated.</a></h2> -->

                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
        </div>
    </section>

    <!-- Start Latest Project Area -->

    <!-- End Latest Project Area -->
    <!-- Start Counter Up Area -->
    <section class="htc__counterup__area count--2 h1__countdown bg__gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="counterup__left__thumb">
                        <img src="../../../assets/images/bg/gbag.jpeg" alt="images">
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="htc__callto__action">
                        <h2># BEST <span style="color:#59b232">BAGS</span> PRODUCERS</h2>
                        <p>SB Global is established in 5 countries and has delivered more than 300+ clients. Wiht one of
                            the leading players of compostable bags, we aim to cater this industry to its best
                            potential.</p>
                        <div class="htc__call__btn">
                            <a class="htc__btn" routerLink="contactus">CONTACT NOW</a>
                        </div>
                    </div>
                    <div class="htc__counterup__wrap"
                        style="background: #59b232;border: solid 20px;padding: 60px;">
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__details">
                                <div class="funfact__count__inner">
                                    <div class="fact__count ">
                                        <span class="count">300</span>
                                    </div>
                                </div>
                                <div class="fact__title">
                                    <h2>CLIENTS</h2>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact hidden-md">
                            <div class="fact__details">
                                <div class="funfact__count__inner">
                                    <div class="fact__count ">
                                        <span class="count">5</span>
                                    </div>
                                </div>
                                <div class="fact__title">
                                    <h2>COUNTRIES</h2>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__details">
                                <div class="funfact__count__inner">
                                    <div class="fact__count ">
                                        <span class="count">1500</span>
                                    </div>
                                </div>
                                <div class="fact__title">
                                    <h2>SHIPMENTS</h2>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__details">
                                <div class="funfact__count__inner">
                                    <div class="fact__count ">
                                        <span class="count">7</span>
                                    </div>
                                </div>
                                <div class="fact__title">
                                    <h2>CERTIFICATIONS</h2>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Counter Up Area -->
    <!-- Start Team Area -->
    <!--    <section class="htc__team__area bg__white h1__team--one ptb--150 text__pos">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">OUR <span style="color:#59b232">TEAM</span></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</p>
                    </div>
                </div>
            </div>
            <div class="row htc__team__wrap clearfix mt--30">
                 Start Single Team -->

    <!--  <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="team foo">
                        <div class="team__inner">
                            <div class="team__thumb">
                                <img src="../../../assets/images/team/1.jpg" alt="team image">
                            </div>
                            <div class="team__hover__info">
                                <ul class="team__social__link">
                                    <li><a  target="_blank"><i class="fa fa-twitter"></i></a></li>

                                    <li><a  target="_blank"><i class="fa fa-instagram"></i></a></li>

                                    <li><a  target="_blank"><i class="fa fa-facebook"></i></a></li>

                                    <li><a  target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team__details">
                            <h2><a >NIKHIL Goyal</a></h2>
                            <h4>Founder</h4>
                        </div>
                    </div>
                </div>
                 End Single Team -->
    <!-- Start Single Team -->
    <!--   <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="team foo">
                        <div class="team__inner">
                            <div class="team__thumb">
                                <img src="../../../assets/images/team/2.jpg" alt="team image">
                            </div>
                            <div class="team__hover__info">
                                <ul class="team__social__link">
                                    <li><a  target="_blank"><i class="fa fa-twitter"></i></a></li>

                                    <li><a  target="_blank"><i class="fa fa-instagram"></i></a></li>

                                    <li><a  target="_blank"><i class="fa fa-facebook"></i></a></li>

                                    <li><a  target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team__details">
                            <h2><a >Member 2</a></h2>
                            <h4>CTO</h4>
                        </div>
                    </div>
                </div>
                 End Single Team -->
    <!-- Start Single Team -->
    <!--   <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="team foo">
                        <div class="team__inner">
                            <div class="team__thumb">
                                <img src="../../../assets/images/team/3.jpg" alt="team image">
                            </div>
                            <div class="team__hover__info">
                                <ul class="team__social__link">
                                    <li><a  target="_blank"><i class="fa fa-twitter"></i></a></li>

                                    <li><a  target="_blank"><i class="fa fa-instagram"></i></a></li>

                                    <li><a  target="_blank"><i class="fa fa-facebook"></i></a></li>

                                    <li><a  target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team__details">
                            <h2><a >Member 3</a></h2>
                            <h4>CFO</h4>
                        </div>
                    </div>
                </div>
                End Single Team -->
    <!-- Start Single Team -->
    <!-- <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="team foo">
                        <div class="team__inner">
                            <div class="team__thumb">
                                <img src="../../../assets/images/team/4.jpg" alt="team image">
                            </div>
                            <div class="team__hover__info">
                                <ul class="team__social__link">
                                    <li><a  target="_blank"><i class="fa fa-twitter"></i></a></li>

                                    <li><a  target="_blank"><i class="fa fa-instagram"></i></a></li>

                                    <li><a  target="_blank"><i class="fa fa-facebook"></i></a></li>

                                    <li><a  target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team__details">
                            <h2><a >Memeber 4</a></h2>
                            <h4>Chief Engineer</h4>
                        </div>
                    </div>
                </div>
                End Single Team -->
    <!--  </div>
        </div>
        <div class="text__shape">
            <h2>TEAM</h2>
        </div>
    </section>
    End Team Area -->
    <!-- Start Testimonial Area -->


    



    <section class="htc__testimonial__area ptb--130">
        <div>
            <div class="section__title text-center">
                <h2 class="title__line">CLIENTS <span style="color:#59b232">SAYS</span></h2>
                <p>Our client says what we actually promise we deliver.</p>
            </div>
            <div class="slider" id="slider1" data-width="100" style="border-radius: 500px;">
                <!-- <button class="control_next">&rarr;</button>
                <button class="control_prev">&larr;</button> -->
                <ul>
                    <li class="actslide">
                        <div class="slide slider__fixed--height slide__align--center">
                            <div class="shadow">
                                <div class="teaser">
                                    <!-- <div class="testimonial__thumb">
                                          <img src="images/test/client/1.jpg" alt="clint image">
                                     </div> -->
                                    <div class="testimonial__details">
                                        <div class="tes__icon">
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                        <p>Team works with utter professionalism and hassle free process. Love
                                            working with them</p>
                                        <h2><a style="color: #606060;" href="#">Onkar Singh</a></h2>
                                        <h4>CEO, DayNight Courier</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slide slider__fixed--height slide__align--center" style="background: transparent">
                            <div class="shadow">
                                <div class="teaser">
                                    <!-- <div class="testimonial__thumb">
                                          <img src="images/test/client/1.jpg" alt="clint image">
                                     </div> -->
                                    <div class="testimonial__details">
                                        <div class="tes__icon">
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                        <p>The qulity vs price ratio is best provided by them. The interaction with
                                            team is smooth.</p>
                                        <h2><a style="color: #606060;" href="#">Mayank Saini</a></h2>
                                        <h4>CEO, MegaMotions</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slide slider__fixed--height slide__align--center" style="background: transparent">
                            <div class="shadow">
                                <div class="teaser">

                                    <!--  <div class="testimonial__thumb">
                                           <img src="images/test/client/1.jpg" alt="clint image">
                                      </div> -->
                                    <div class="testimonial__details">
                                        <div class="tes__icon">
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                        <p>The product quality is top rated. The delivery time is perfect. Great
                                            team to work with.</p>
                                        <h2><a style="color: #606060;" href="#">Vaibhav Rana</a></h2>
                                        <h4>CFO, BatY Energies</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- <div class="progress">
                    <div class="bar"></div>
                </div> -->

            </div>



            <!-- <div class="row">
                <div class="col-lg-6 col-xl-5 col-md-12 col-12">
                    <div class="slider" id="slider" data-width="100">
                        <button class="control_next">&rarr;</button>
                        <button class="control_prev">&larr;</button>
                        <ul>
                            <li class="actslide">
                                <div class="slide" style="background: #02517a" >
                                    <div class="shadow">
                                            <div class="teaser">
                                        
                                            <h3>Fullscreen Slider</h3>
                                            <h2>Slide 2</h2>
                                            
                                            <p>Slide #2 of 3</p>
                                            
                                            
                                        </div> 
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="slide" style="background: #02517a" >
                                    <div class="shadow">
                                            <div class="teaser">
                                        
                                            <h3>Fullscreen Slider</h3>
                                            <h2>Slide 2</h2>
                                            
                                            <p>Slide #2 of 3</p>
                                            
                                            
                                        </div> 
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="slide" style="background: #02517a" >
                                    <div class="shadow">
                                            <div class="teaser">
                                        
                                            <h3>Fullscreen Slider</h3>
                                            <h2>Slide 2</h2>
                                            
                                            <p>Slide #2 of 3</p>
                                            
                                            
                                        </div> 
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6  offset-xl-1 col-md-12 col-12 smt-40"> -->
            <div class="container">
                <div class="reguest__quote">
                    <div class="section__title text-left">
                        <h2 class="title__line">REQUEST A <span style="color:#59b232">QUOTE</span></h2>
                        <p>Have some business query? Lets connect.</p>
                    </div>
                    <form id="contact-form" action="mail-faq.php" method="post">
                        <div class="clint__comment__form">
                            <div class="single__cl__form">
                                <input name="name" type="text" placeholder="Name">
                                <input name="email" type="email" placeholder="Email">
                            </div>
                            <div class="single__cl__form">
                                <input name="telephone" type="tel" placeholder="Phone">
                                <input name="subject" type="text" placeholder="Subject">
                            </div>
                            <div class="single__cl__message">
                                <textarea name="message" placeholder="Massage"></textarea>
                            </div>
                            <div class="clint__submit__btn">
                                <button class="submit htc__btn" type="submit">
                                    SEND MESSAGE
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- <p class="form-messege"></p> -->
                </div>
            </div>
        </div>
        <!-- </div>
        </div> -->
    </section>
    <!-- End Testimonial Area -->

    <!-- End Blog Area -->
    <!-- Start Blog Area -->
    <!-- <div class="htc__brand__area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="brand__list">
                        <li><a ><img src="../../../assets/images/brand/1.jpg" alt="brand images"></a></li>
                        <li><a ><img src="../../../assets/images/brand/2.jpg" alt="brand images"></a></li>
                        <li><a ><img src="../../../assets/images/brand/3.jpg" alt="brand images"></a></li>
                        <li><a ><img src="../../../assets/images/brand/4.jpg" alt="brand images"></a></li>
                        <li><a ><img src="../../../assets/images/brand/5.jpg" alt="brand images"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Blog Area  -->
    <!-- Start Newsletter Area -->
    <!--   <section class="htc__newsletter__area ptb--90 bg__gray">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="newsletter__wrap">
                        <h2 class="title__line">SUBSCRIBE <span style="color:#59b232">NEWSLETTER</span></h2>
                        <h4>Subscribe our newsletter and get latest update</h4>
                        <div class="newsletter__form">
                            <div class="input__box">
                                <div id="mc_embed_signup">
                                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll" class="htc__news__inner">
                                            <div class="news__input">
                                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                                            </div>
                                            real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                            <div class="clearfix subscribe__btn"><input type="submit" value="SUBSCRIBE NOW" name="subscribe" id="mc-embedded-subscribe" class="bst__btn btn--white__color">
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="newsletter__thumb">
            <div class="newsletter__thumb__inner">
                <img src="../../../assets/images/others/6.png" alt="newsletter img">
            </div>
        </div>
    </section>
    End Newsletter Area -->



    <!-- <section class="section-team">
        <div class="container">
             Start Header Section 
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header-section">
                        <h2 class="title">Let's meet with our team members</h2>
                    </div>
                </div>
            </div>
             / End Header Section 
            <div class="row">
               Start Single Person 
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://i.ibb.co/G2CBWvb/person1.jpg" alt="">
                            <span class="icon">
                                <i class="fab fa-html5"></i>
                            </span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">John Doe</h3>
                            <span class="speciality">Web Developer</span>
                        </div>
                    </div>
                </div>
                 / End Single Person 
                <!-- Start Single Person 
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://i.ibb.co/nbpNr4r/person2.jpg" alt="">
                            <span class="icon">
                                <i class="fab fa-wordpress-simple"></i>
                            </span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Robert Smith</h3>
                            <span class="speciality">WordPress Developer</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person 
                <!-- Start Single Person 
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://i.ibb.co/25zdRMr/person3.jpg" alt="">
                            <span class="icon">
                                <i class="fab fa-angular"></i>
                            </span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">John Doe</h3>
                            <span class="speciality">Angular Developer</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person 
                <!-- Start Single Person 
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://i.ibb.co/w0ynr2Q/person4.jpg" alt="">
                            <span class="icon">
                                <i class="fab fa-js"></i>
                            </span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">John Smith</h3>
                            <span class="speciality">Javascript Developer</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person 
            </div>
        </div>
    </section> -->
</div>