<div class="wrapper">
    <div class="ht__bradcaump__area" data--black__overlay="6"
        style="background: rgba(0, 0, 0, 0) url(../../../assets/images/bg/carry.jpeg) no-repeat scroll center center / cover ;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Sustainability</h2>
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" routerLink="">Home</a>
                                <span class="brd-separetor">-</span>
                                <span class="breadcrumb-item active">Sustainability</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="sustainability-content">
        <div class="container ">
            <div class="row">
                <div class="inner-sustainability">
                    <p class="para text-white">Sustainability consists of fulfilling the needs of current generations without compromising the needs of future generations, 
                        while ensuring a balance between economic growth, environmental care and social well-being. 
                        It is the ability to exist and develop without depleting natural resources for the future.</p>
                    <p class="para text-white">Sustainable development is development that is grounded in five dimensions, 
                        which have been expressed through the “5 P's”, or five pillars of sustainable development:
                    </p>
                    <p class="para text-white">To be deemed biodegradable, the material must decompose naturally, with the actions of micro-organisms, even without oxygen. 
                        These materials then become part of the environment and cause no damage in the long run.</p>
                    <h1 class="text-white pt-5">Working cycle of Eco-Branch
                    </h1>
                    <p class="para text-white">Eco-Branch make sustainability a part of you, by making it a lifestyle. 
                        We don’t limit sustainability to a one-time, feel-good thing. We make it accessible to everyone, anytime, anywhere and specially for our future generation.
                    </p>
                    <div class="text-center">
                        <h1 class="text-white pt-5">Biodegradable and compostable plastic products</h1>
                        <p><img class="img-fluid pt-3"
                                src="../../../assets//images/sustainability/sus.png"
                                width="579" height="463"></p>
                    </div>
                    <h1 class="text-white pt-5">Why is a circular economy better than a linear economy?</h1>
                    <ul class="text-white">
                        <li>A circular economy can be an important instrument to tackle the current triple planetary crises on climate, biodiversity and pollution. 
                            By keeping resources in the loop for longer, we'll avoid emitting greenhouse gases caused by the energy needed to make products.</li>
                        <li>The circular economy is a model of production and consumption, which involves sharing, leasing, reusing, repairing, 
                            refurbishing and recycling existing materials and products as long as possible. In this way, the life cycle of products is extended.
                        </li>
                        <li>In practice, it implies reducing waste to a minimum. When a product reaches the end of its life, its materials are kept within the economy wherever possible. 
                            These can be productively used again and again, thereby creating further value.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>