<div class="home_tab_items">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">
                    <div class="item">
                        <a class=" new-active slider-box" id="nav-about-tab" data-toggle="tab" href="#fashion"
                            role="tab" aria-controls="nav-about" aria-selected="true" style="width:146px">
                            <img src="../../../assets/images/home_tab/Retail.svg"
                                class="logo-w20 img-fluid bus-not-hov-img" alt="" width="34" height="31">
                            <br>
                            <span class="fashion">Retail</span>
                        </a>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="horeca-tab" data-toggle="tab" href="#horeca" role="tab"
                    aria-controls="profile" aria-selected="false">
                    <div class="item">
                        <a class=" new-active slider-box " id="nav-about-tab" data-toggle="tab" href="#fashion"
                            role="tab" aria-controls="nav-about" aria-selected="true" style="width:146px">
                            <img src="../../../assets/images/home_tab/HORECA.svg"
                                class="logo-w20 img-fluid bus-not-hov-img" alt="" width="34" height="31">
                            <br>
                            <span class="fashion">HORECA</span>
                        </a>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="fashion-tab" data-toggle="tab" href="#fashion" role="tab"
                    aria-controls="profile" aria-selected="false">
                    <div class="item">
                        <a class=" new-active slider-box " id="nav-about-tab" data-toggle="tab" href="#fashion"
                            role="tab" aria-controls="nav-about" aria-selected="true" style="width:146px">
                            <img src="../../../assets/images/home_tab/Fashion.svg"
                                class="logo-w20 img-fluid bus-not-hov-img" alt="" width="34" height="31">
                            <br>
                            <span class="fashion">Fashion</span>
                        </a>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="healthcare-tab" data-toggle="tab" href="#healthcare" role="tab"
                    aria-controls="contact" aria-selected="false">
                    <div class="item">
                        <a class="new-active slider-box active" id="nav-about-tab" data-toggle="tab" href="#fashion"
                            role="tab" aria-controls="nav-about" aria-selected="true" style="width:146px">
                            <img src="../../../assets/images/home_tab/Healthcare.svg"
                                class="logo-w20 img-fluid bus-not-hov-img" alt="" width="34" height="31">
                            <br>
                            <span class="fashion">Healthcare</span>
                        </a>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ecommerce-tab" data-toggle="tab" href="#ecommerce" role="tab"
                    aria-controls="contact" aria-selected="false">
                    <div class="item">
                        <a class="new-active slider-box active" id="nav-about-tab" data-toggle="tab" href="#fashion"
                            role="tab" aria-controls="nav-about" aria-selected="true" style="width:146px">
                            <img src="../../../assets/images/home_tab/Ecommerce.svg"
                                class="logo-w20 img-fluid bus-not-hov-img" alt="" width="34" height="31">
                            <br>
                            <span class="fashion">E-commerce</span>
                        </a>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab"
                    aria-controls="contact" aria-selected="false">
                    <div class="item">
                        <a class="new-active slider-box active" id="nav-about-tab" data-toggle="tab" href="#fashion"
                            role="tab" aria-controls="nav-about" aria-selected="true" style="width:146px">
                            <img src="../../../assets/images/home_tab/Others.svg"
                                class="logo-w20 img-fluid bus-not-hov-img" alt="" width="34" height="31">
                            <br>
                            <span class="fashion">Other</span>
                        </a>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <section class="htc__service__area service--2 bg__gray">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 h1__service pt--40 pb--30">
                                <div class="section__title text-left">
                                    <h2 class="title__line"><span style="color:#59b232">Retail</span>
                                    </h2>
                                    <p>EcoBranch manufactres the best quality products for our clients.
                                        Meeting our
                                        sustainability goals we also recycle the pre-used bags to
                                        manufacture the
                                        new ones, keeping in mind the vision to reduce the carbon
                                        footprint. Adding
                                        the cherry on the top, we do white labeling for your
                                        organization on our
                                        products.</p>
                                </div>
                                <ul class="retail_list">
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/carry-bag.jpg"
                                                class="img-fluid" width="35" height="32"> Carry Bags</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/poop.jpeg"
                                                class="img-fluid" width="35" height="32"> Pop bags </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/gb.jpeg"
                                                class="img-fluid" width="35" height="32">Garbage bags</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 img-center">
                                <img height="308" width="533" class="img-responsive img-fluid"
                                    src="../../../assets/images/home_tab/theecobranch-banners_900x550-retail.png"
                                    alt="about image">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="horeca" role="tabpanel" aria-labelledby="horeca-tab">
                <section class="htc__service__area service--2 bg__gray">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 h1__service pt--40 pb--30">
                                <div class="section__title text-left">
                                    <h2 class="title__line"><span style="color:#59b232">HORECA</span>
                                    </h2>
                                    <p>EcoBranch manufactres the best quality products for our clients.
                                        Meeting our
                                        sustainability goals we also recycle the pre-used bags to
                                        manufacture the
                                        new ones, keeping in mind the vision to reduce the carbon
                                        footprint. Adding
                                        the cherry on the top, we do white labeling for your
                                        organization on our
                                        products.</p>
                                </div>
                                <ul class="retail_list">
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/carry-bag.jpg"
                                                class="img-fluid" width="35" height="32"> Carry Bags</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/poop.jpeg"
                                                class="img-fluid" width="35" height="32"> Pop bags </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/gb.jpeg"
                                                class="img-fluid" width="35" height="32">Garbage bags</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 img-center">
                                <img height="308" width="533" class="img-responsive img-fluid"
                                    src="../../../assets/images/home_tab/theecobranch-banners_900x550-retail.png"
                                    alt="about image">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="fashion" role="tabpanel" aria-labelledby="fashion-tab">
                <section class="htc__service__area service--2 bg__gray">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 h1__service pt--40 pb--30">
                                <div class="section__title text-left">
                                    <h2 class="title__line"><span style="color:#59b232">Fashion</span>
                                    </h2>
                                    <p>EcoBranch manufactres the best quality products for our clients.
                                        Meeting our
                                        sustainability goals we also recycle the pre-used bags to
                                        manufacture the
                                        new ones, keeping in mind the vision to reduce the carbon
                                        footprint. Adding
                                        the cherry on the top, we do white labeling for your
                                        organization on our
                                        products.</p>
                                </div>
                                <ul class="retail_list">
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/carry-bag.jpg"
                                                class="img-fluid" width="35" height="32"> Carry Bags</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/poop.jpeg"
                                                class="img-fluid" width="35" height="32"> Pop bags </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/gb.jpeg"
                                                class="img-fluid" width="35" height="32">Garbage bags</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 img-center">
                                <img height="308" width="533" class="img-responsive img-fluid"
                                    src="../../../assets/images/home_tab/theecobranch-banners_900x550-retail.png"
                                    alt="about image">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="healthcare" role="tabpanel" aria-labelledby="healthcare-tab">
                <section class="htc__service__area service--2 bg__gray">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 h1__service pt--40 pb--30">
                                <div class="section__title text-left">
                                    <h2 class="title__line"><span style="color:#59b232">Healthcare</span>
                                    </h2>
                                    <p>EcoBranch manufactres the best quality products for our clients.
                                        Meeting our
                                        sustainability goals we also recycle the pre-used bags to
                                        manufacture the
                                        new ones, keeping in mind the vision to reduce the carbon
                                        footprint. Adding
                                        the cherry on the top, we do white labeling for your
                                        organization on our
                                        products.</p>
                                </div>
                                <ul class="retail_list">
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/carry-bag.jpg"
                                                class="img-fluid" width="35" height="32"> Carry Bags</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/poop.jpeg"
                                                class="img-fluid" width="35" height="32"> Pop bags </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/gb.jpeg"
                                                class="img-fluid" width="35" height="32">Garbage bags</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 img-center">
                                <img height="308" width="533" class="img-responsive img-fluid"
                                    src="../../../assets/images/home_tab/theecobranch-banners_900x550-retail.png"
                                    alt="about image">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="ecommerce" role="tabpanel" aria-labelledby="ecommerce-tab">
                <section class="htc__service__area service--2 bg__gray">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 h1__service pt--40 pb--30">
                                <div class="section__title text-left">
                                    <h2 class="title__line"><span style="color:#59b232">E-Commerce</span>
                                    </h2>
                                    <p>EcoBranch manufactres the best quality products for our clients.
                                        Meeting our
                                        sustainability goals we also recycle the pre-used bags to
                                        manufacture the
                                        new ones, keeping in mind the vision to reduce the carbon
                                        footprint. Adding
                                        the cherry on the top, we do white labeling for your
                                        organization on our
                                        products.</p>
                                </div>
                                <ul class="retail_list">
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/carry-bag.jpg"
                                                class="img-fluid" width="35" height="32"> Carry Bags</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/poop.jpeg"
                                                class="img-fluid" width="35" height="32"> Pop bags </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/gb.jpeg"
                                                class="img-fluid" width="35" height="32">Garbage bags</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 img-center">
                                <img height="308" width="533" class="img-responsive img-fluid"
                                    src="../../../assets/images/home_tab/theecobranch-banners_900x550-retail.png"
                                    alt="about image">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
                <section class="htc__service__area service--2 bg__gray">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 h1__service pt--40 pb--30">
                                <div class="section__title text-left">
                                    <h2 class="title__line"><span style="color:#59b232">Other</span>
                                    </h2>
                                    <p>EcoBranch manufactres the best quality products for our clients.
                                        Meeting our
                                        sustainability goals we also recycle the pre-used bags to
                                        manufacture the
                                        new ones, keeping in mind the vision to reduce the carbon
                                        footprint. Adding
                                        the cherry on the top, we do white labeling for your
                                        organization on our
                                        products.</p>
                                </div>
                                <ul class="retail_list">
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/carry-bag.jpg"
                                                class="img-fluid" width="35" height="32"> Carry Bags</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/poop.jpeg"
                                                class="img-fluid" width="35" height="32"> Pop bags </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../../../assets/images/home_tab/gb.jpeg"
                                                class="img-fluid" width="35" height="32">Garbage bags</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-6 img-center">
                                <img height="308" width="533" class="img-responsive img-fluid"
                                    src="../../../assets/images/home_tab/theecobranch-banners_900x550-retail.png"
                                    alt="about image">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>