<app-header></app-header>
<router-outlet>
        <div class="sideSocialLinks">
            <ul class="side-socials">
                <li>
                    <span class="iconName">Facebook</span>
                    <a href="https://facebook.com" target="_blank " class="icon-button facebook">
                        <i class="icon-facebook fa fa-facebook" aria-hidden="true"></i><span></span>
                    </a>
                </li>
                <li>
                    <span class="iconName">Instagram</span>
                    <a href="https://instagram.com/" target="_blank " class="icon-button instagram">
                        <i class="icon-instagram fa fa-instagram" aria-hidden="true"></i><span></span>
                    </a>
                </li>
                <li>
                    <span class="iconName">LinkedIn </span>
                    <a href="https://www.linkedin.com/company/" target="_blank " class="icon-button linkedin">
                        <i class="icon-linkedin fa fa-linkedin-square" aria-hidden="true"></i><span></span>
                    </a>
                </li>
                <li>
                    <span class="iconName">Spotify </span>
                    <a href="https://open.spotify.com/show/" target="_blank " class="icon-button spotify">
                        <i class="icon-spotify fa fa-spotify" aria-hidden="true"></i><span></span>
                    </a>
                </li>
            </ul>
        </div>
</router-outlet>
<div class="footer">
    <app-footer></app-footer>
  </div>