<div class="wrapper">
    <div class="ht__bradcaump__area" data--black__overlay="6"
        style="background: rgba(0, 0, 0, 0) url(../../../assets/images/bg/carry.jpeg) no-repeat scroll center center / cover ;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">CONTACT</h2>
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" routerLink="">Home</a>
                                <span class="brd-separetor">-</span>
                                <span class="breadcrumb-item active">Contact</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="htc__contact__area bg__white ptb--150">
        <div class="container">
            <div class="row pb--100">
                <div class="col-md-12">
                    <div class="htc__contact__inner">
                        <h2 class="title__line--5">CONTACT INFORMATION</h2>
                        <p>EcoBranch is leading exporter, manufacturer,producer and supplier of compostable bags in
                            india. We provide best quality products all over the world. Contact us for any queries.
                        </p>
                    </div>
                    <div class="htc__address__container">
                        <!-- Start Single Address -->
                        <div class="ct__address">
                            <div class="ct__address__icon">
                                <i class="zmdi zmdi-pin"></i>
                            </div>
                            <div class="ct__details">
                                <p>11/5/2, Near Bajaj Motors Ltd.<br> Narsingpur, Gurgaon, Haryana</p>
                            </div>
                        </div>
                        <!-- End Single Address -->
                        <!-- Start Single Address -->
                        <div class="ct__address">
                            <div class="ct__address__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="ct__details">
                                <p><a href="tel:+919650408702">(+91) 9650408702</a></p>

                            </div>
                        </div>
                        <!-- End Single Address -->
                        <!-- Start Single Address -->
                        <div class="ct__address smt-20">
                            <div class="ct__address__icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="ct__details">
                                <p><a href="mailto:info@theecobranch.com">info@theecobranch.com</a></p>
                                <p><a href="mailto:enquiry@sbglobalservices.com">enquiry@sbglobalservices.com</a></p>

                            </div>
                        </div>
                        <!-- End Single Address -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="htc__contact__form__wrap">
                        <h2 class="title__line--5">SEND US A MESSAGE</h2>
                        <div class="contact-form-wrap">
                            <form id="contact-form" action="mail.php" method="post">
                                <div class="single-contact-inner">
                                    <div class="single-contact-form">
                                        <div class="contact-box name">
                                            <span>Your Name*</span>
                                            <input type="text" name="name">
                                        </div>
                                        <div class="contact-box email">
                                            <span>Your Email*</span>
                                            <input type="email" name="email">
                                        </div>
                                        <div class="contact-box subject">
                                            <span>Subject*</span>
                                            <input type="text" name="subject">
                                        </div>
                                    </div>
                                    <div class="single-contact-form">
                                        <div class="contact-box message">
                                            <span>Message*</span>
                                            <textarea name="message"></textarea>
                                        </div>
                                        <div class="contact-btn">
                                            <button type="submit" class="htc__btn btn--theme">SEND NOW</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="form-output">
                            <p class="form-messege"></p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>